Prayzitory/Prayzitory/Prayzitory.csproj.user
Prayzitory/1. Infrasturcture/bin/
Prayzitory/1. Infrasturcture/obj/
Prayzitory/2. Domain/obj/
Prayzitory/3. Interactors/bin/Debug/_2.Domain.dll
Prayzitory/3. Interactors/bin/Debug/_2.Domain.pdb
Prayzitory/3. Interactors/bin/Debug/_3.Interactors.dll
Prayzitory/3. Interactors/bin/
Prayzitory/3. Interactors/obj/
Prayzitory/4. Presenters/obj/
Prayzitory/5. Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Prayzitory/5. Tests/obj/
Prayzitory/Prayzitory/bin/
Prayzitory/Prayzitory/obj/
Prayzitory/5. Tests/bin/
Prayzitory/4. Presenters/bin/
Prayzitory/2. Domain/bin/
